extends layout

block content
	h1= title
	p Welcome to #{title}

	if error
		p= error
	
	form(action='/user/login', method='post')
		div
			label(for='email') email
			input(name='email', type='text')
		div
			label(for='password') password
			input(name='password', type='password')
		div
			input(class='log-in-submit', type='submit', name='submit', value='log in')
	
	form(action='/user/register', method='post')
		div
			label(for='fl_name') first & last name
			input(name='fl_name', type='text')
		div
			label(for='email') email
			input(name='email', type='text')
		div
			label(for='password') password
			input(name='password', type='password')
		div
			label(for='password_confirmation') password confirmation
			input(name='password_confirmation', type='password')
		div
			input(class='sign-up-submit', type='submit', name='submit', value='sign up')
